<!DOCTYPE html>
<html>
    <head>
        <title>Wedding</title>
        

        
        <!-- Bootstrap-->
        <link rel ="stylesheet" href ="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        
        
        <!-- Full Page        -->
        <link rel="stylesheet" type="text/css" href="jquery.fullPage.css" />
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <!-- This following line is optional. Only necessary if you use the option css3:false and you want to use other easing effects rather than "linear", "swing" or "easeInOutCubic". -->
        <script src="vendors/jquery.easings.min.js"></script>
        <!-- This following line is only necessary in the case of using the option `scrollOverflow:true` -->
        <script type="text/javascript" src="vendors/scrolloverflow.min.js"></script>
        <script type="text/javascript" src="jquery.fullPage.js"></script>
        
        
        
        <!--  Overrrides-->
        <link rel ="stylesheet" href ="/stylesheets/main.css">

    </head>
    <body>
        
        
                <nav class ="navbar navbar-inverse">
            <div class = "container-fluid">
            <div class="navbar-header">
  
            </div>
                
                
                
                
                
                
    
                <div class="collapse navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">                    
                        
                        
                    </ul>
                    
                </div>
                
                
            </div> 
            
        </nav>
        
        


