<!DOCTYPE html>
<html>
    <head>
        <title>Wedding</title>
        

        
        <!-- Bootstrap-->
        <link rel ="stylesheet" href ="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

        
            <!--        jQuery-->
   <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.9.1/jquery-ui.min.js"></script>

        
        <!-- fullPage        -->
        <script type="text/javascript"  src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.4/jquery.fullpage.js" ></script>
         <link rel ="stylesheet" href ="/stylesheets/jquery.fullPage.css">
        
                
   
        <!--  CSS Overrrides-->
        <link rel ="stylesheet" href ="/stylesheets/landing.css">
        <link rel ="stylesheet" href ="/stylesheets/overrides.css">

<script type = "text/javascript">    
$(document).ready(function() {
	$('#fullpage').fullpage({
            css3: true
    });
});
</script>
        
    </head>
    <body>
        
        
        
        
        
        
        
            <nav class ="navbar navbar-inverse navbar-fixed-top">
            <div class = "container-fluid">
                
                <div class ="navbar-header">
                    <a class = "navbar-brand" href ="/">Home</a>
                </div>
                    
                    <ul class="nav navbar-nav navbar-left">
<!--
                            <li><button type="button" class="btn btn-inverse navbar-btn"><a href="#1">Section1</a></button></li>
                            <li><button type="button" class="btn btn-inverse navbar-btn"><a href="#2">Section2</a></button></li>
                            <li><button type="button" class="btn btn-inverse navbar-btn"><a href="#3">Section3</a></button></li>
                            <li><button type="button" class="btn btn-inverse navbar-btn"><a href="#4">Section4</a></button></li>
-->

                        <li><a href="#1">Section1</a></li> 
                        <li><a href="#2">Section2</a></li>
                        <li><a href="#3">Section3</a></li>   
                        <li><a href="#4">Section4</a></li>                  

                        </ul>
                    
                
                
            </div> 
            
        </nav>
        
        
        


