<h1>Add test data</h1>



<form action = "/search/<%= user._id %>?_method=PUT" method="POST">
<input type = "text" name = "user[name]" placeholder ="please enter your ID" >
    <br>
<button> Submit</button>
</form>



    
    
